@font-face {
  font-family: "Aeonik";
  src: url("./fonts/AeonikTRIAL-Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("./fonts/AeonikTRIAL-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("./fonts/AeonikTRIAL-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root{
  --pri: #08396a;
  --sec: #1f3c88;
  --tri1: #e7f0ff;
  --tri2: #bfdbfe;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  background-color: var(--pri);
  color: var(--sec);
  font-family: aeonik;
}

main{
  width: 100%;
  height: 100%;

  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--tri1);
  }

  section.allElems{
    width: 100%;
    height: 100%;
    padding: 80px 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-self: flex-start;
    gap: 20px;
    position: absolute;

    .elem{
        position: relative;

        background-color: var(--tri2);
      border-radius: 14px;
      font-weight: 500;
      height: 300px;
      width: 270px;
      overflow: hidden;
      transition: all 0.25s ease;
      cursor: pointer;
      box-shadow: 0 10px 20px rgb(0, 0, 0, 0.5);

      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      h2{
        position: absolute;
        bottom: 4%;
        right: 5%;
        font-family: aeonik;
      }

      &:active{
        transform: scale(0.95)
      }
    }
  }

  section.fullElem{
    height: 100%;
    width: 100%;
    display: none;
    font-size: 50px;
    padding: 40px;
    position: absolute;
    background-color: var(--pri);

    .back{
      color: white;
      position: absolute;
      right: 5%;
      background-color: red;
      border: none;
      border-radius: 10px;
      padding: 10px 15px;
      font-size: 20px;
      transition: all 0.3s ease;
      cursor: pointer;

      &:active{
        transform: scale(0.9);
      }
    }
  }

  .todo-fullpage{

    h2{
      color: #000;
    }

    .todo-container{
      height: 80%;
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;

      .addTask{
        height: 100%;
        width: 33%;
        background-color: var(--sec);
        border-radius: 20px;
        
        form{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          padding: 30px;

          input{
            padding: 10px 20px;
            width: 100%;
            border-radius: 7px;
            background-color: var(--tri2);
            font-size: 18px;
            border: none;
            outline: none;
          }

          textarea{
            padding: 10px 20px;
            width: 100%;
            border-radius: 7px;
            background-color: var(--tri2);
            font-size: 18px;
            border: none;
            outline: none;
          }

          button{
            padding: 10px 20px;
            width: 100%;
            border-radius: 7px;
            background-color: var(--tri2);
            font-size: 18px;
            border: none;
            outline: none;
            transition: all ease 0.3s;

            &:active{
              transform: scale(0.95);
            }
          }
        }
      }

      .allTask{
        height: 100%;
        width: 65%;
        background-color: var(--sec);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px;
        overflow: auto;

        .task{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          background-color: var(--tri2);
          padding: 20px 30px;
          border-radius: 10px;

          h5{
            color: var(--pri);
            font-size: 30px;
          }

          button{
            padding: 10px 20px;
            border: none;
            color: var(--pri);
            background-color: rgb(50, 217, 50);
            font-size: 14px;
            border-radius: 7px;
            font-weight: 700;

            &:active{
              transform: scale(0.95);
            }
          }
        }
      }
    }
  }
}
