@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./fonts/AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./fonts/AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./fonts/AeonikTRIAL-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: aeonik;
}

main {
    width: 100%;
    height: 100%;
}

h1{
    font-weight: 200;
}